@model IReadOnlyDictionary<string,string>
@{
    ViewData["Title"] = "Спосіб доставки";
}

<h1>Спосіб доставки</h1>

<form action="@Url.Action(nameof(OrderController.StartDelivery))" method="post"> 
    <div class="form-group">
        <label for="uniqueCode">Спосіб доставки</label>
        <select class="form-control" name="serviceName">
            @foreach(var Method in Model)
            {
                <option value="@Method.Key">@Method.Value</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-success">Далі</button>
</form>

