@{
    ViewData["Title"] = "Yandex.Kassa";
}

<h1>YandexKassa</h1>


@*<a href="@Url.Action("Callback", "Home", new { area = "YandexKassa"})">Оплатити</a>*@
<a href="/YandexKassa/Home/Callback">Оплатити</a>
